<!--
  Turtlebot navigation simulation:
  - flatland
  - move_base
  - amcl
  - map_server
  - rviz view
 -->
<launch>
  <!--  **************** Planning ****************  -->
  <!--<remap from="agent_2d_region_pose" to="odom"/>-->
  <arg name="initial_ts_state_from_agent" default="False"/>
  <arg name="agent_name_1" default="turtlebot1"/>
  <arg name="agent_name_2" default="turtlebot2"/>

  <!--<param name="agent_name" type="string" value="$(arg agent_name)" />-->
  <!-- hard and soft task parameters -->
  <rosparam command="load" file="$(find flatland_npp)/config/test_npp/test_ltl2.yaml" />
  <!-- Transition system -->
  <param name="transition_system_textfile_1" textfile="$(find flatland_npp)/config/test_npp/test_npp_ts.yaml"/>
  <param name="transition_system_textfile_2" textfile="$(find flatland_npp)/config/test_npp/test_npp_ts2.yaml"/>

  <!-- Run planner node -->
  <node name="ltl_planner" pkg="ltl_automaton_planner" type="multi_robot_planner_node.py" output="screen" launch-prefix='python3 -m pdb'>
    <param name="initial_ts_state_from_agent" type="bool" value="$(arg initial_ts_state_from_agent)" />
  </node>

  <!--<node name="region_2d_pose_monitor" pkg="ltl_automaton_std_transition_systems" type="region_2d_pose_monitor.py" output="screen">-->
  <!--</node>-->

  <!--<node name="odom_to_pose" pkg="test_ltl" type="odom_to_pose.py" output="screen">-->
  <!--</node>-->

  <!--<node name="ltl_monitor_turtlebot" pkg="test_ltl" type="ltl_monitor_turtlebot.py" output="screen">-->
  <!--</node>-->

</launch>
